/*Main*/
html {
	font-family: Calibri;
	background-image: url("assets/background.jpg"); /*Res is 1920 x 1281*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h2 {
	color: white;
	font-family: Calibri;
	font-size: 40px;
	text-align: center;
	filter: drop-shadow(5px 5px 5px rgb(0, 0, 0, 0.3));
}

p {
	color: rgb(0, 0, 0);
	font-family: Calibri;
	text-align: center;
	font-size: 16px;
	filter: drop-shadow(5px 5px 5px rgb(0, 0, 0, 0.3));
}

a {
	color: inherit;
	text-decoration: inherit;
}

a:hover {
	text-decoration: underline;
}

/*Other*/

.logo {
	image-rendering: pixelated;
	filter: drop-shadow(5px 5px 4px rgb(0, 0, 0, 0.3));
	height: 8rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}

.social {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	filter: drop-shadow(5px 5px 4px rgb(0, 0, 0, 0.3));
}

/*Card*/
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
	border-radius: .25rem;
	/*background-color: #f1f1f1;*/
	background-color: rgba(255,255,255,0.4);
	backdrop-filter: blur(10px);
	margin: 0 auto;
	padding: 8px;
	width: 330px;
	height: 150px;
	margin-top: 10px;
}

.card:hover {
	background-color: rgba(255,255,255,.7);
	transition-duration: 160ms;
}

.credit {
	bottom: 0;
	right: 0;
	position: fixed;
}